body{

font-family:Poppins;
margin:0;
background:#0f1a13;
color:white;

}


.navbar{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:rgba(0,0,0,0.5);
position:fixed;
width:100%;
z-index:1000;

}

.navbar ul{

display:flex;
gap:20px;
list-style:none;

}

.navbar a{

color:white;
text-decoration:none;

}


.hero{

height:100vh;
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),
url("https://images.unsplash.com/photo-forest");

background-size:cover;
display:flex;
align-items:center;
justify-content:center;
text-align:center;

}


.hero h1{

font-size:60px;

}


.btn{

background:#3fa34d;
padding:15px 25px;
border-radius:30px;
text-decoration:none;
color:white;

}


section{

padding:80px 20px;
max-width:1000px;
margin:auto;

}


.cards{

display:flex;
gap:30px;
flex-wrap:wrap;

}


.card{

background:#1e2c22;
padding:25px;
border-radius:15px;
flex:1;
transition:transform 0.3s;

}


.card:hover{

transform:translateY(-10px);

}


.gallery{

display:flex;
gap:20px;
flex-wrap:wrap;

}


.gallery img{

width:100%;
max-width:300px;
border-radius:10px;

}


.counter{

text-align:center;

}


.number{

font-size:60px;
color:#3fa34d;

}


.store-buttons button{

margin:10px;
padding:15px 25px;
border:none;
border-radius:10px;
background:#3fa34d;
color:white;
cursor:pointer;

}


footer{

text-align:center;
padding:20px;
background:#111;

}
